<nav class="navbar navbar-dark bg-dark">
  <div class="col-md-7">
    <h1>Mígreni</h1>
  </div>
  <div align="right" class="col-md-5">
    <a href="/logout"><button class="btn btn-primary">Logout</button></a>
  </div>
</nav>