<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="" align="left">
    <h1>Mígreni</h1>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  	<ul class="navbar-nav ml-auto">
	  	<li class="nav-item ml-auto">
		  	<a class="nav-link" href="/user">Home</a>
		  </li>
		  <li class="nav-item ml-auto">
		  	<a class="nav-link" href="/log">Journal</a>
		  </li>
		  <li class="nav-item ml-auto">
		  	<a class="nav-link" href="/chart">Chart</a>
		  </li>
		  	<li class="nav-item ml-auto">
		    <a class="nav-link" href="/logout"><button class="btn btn-primary">Logout</button></a>
		  </li>
	  </ul>
  </div>
</nav>