{{> header }}
<div class="container-fluid">
	<canvas id="chartTime" width="900" height="400"></canvas>
	<input class="date-picker response" type="date" id="startDate">
	<input class="date-picker response" type="date" id="endDate">
	<button class="btn btn-primary" id="range">New Range</button>
</div>
<div id="username" data-username="{{user.username}}" hidden></div>
<div id="userId" data-id="{{user.id}}" hidden></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="./assets/js/chartIntensity.js"></script>